<h1>Stupid Coaching</h1>

<div class="you">
  <p><%= @ask %></p>
  <p>- You</p>
</div>

<div class="coach">
  <p><%= @answer %></p>
  <p>- Your coach</p>
</div>

<div>
<button class="button"><%= link_to "Back", ask_path, :class=>"back" %></button>
</div>
