<h1>Hello and welcome! What would you like to know?</h1>

<form action="answer" method="get">
  <input type="text" name="search" placeholder="Type your question here">
  <input type="submit" value="Ask!">
</form>
