<h1>Hello and welcome! Talk to your Coach</h1>

<h5>Ask your coach anything:</h5>
<form action="answer" method="get">
  <input type="text" name="search" placeholder="Type your question here">
  <input type="submit" value="Ask!">
</form>
